<div class="page-header">
  <h1>
    Cover photos
    <a href="/cover_photos/new" class="btn btn-lg btn-success">New Cover photo</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Restaurant</th>
        <th>Cover photo</th>
        <th>Actions</th>
      </tr>

      <% @cover_photos.each do |cover_photo| %>
      <tr>
        <td><%= cover_photo.restaurant_id %></td>
        <td><%= cover_photo.cover_photo %></td>
        <td>
          <a href="/cover_photos/<%= cover_photo.id %>" class="btn btn-primary">Show</a>
          <a href="/cover_photos/<%= cover_photo.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_cover_photo/<%= cover_photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
