<div class="page-header">
  <h3>Cover Photo #<%= @cover_photo.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Restaurant</dt>
      <dd><%= @cover_photo.restaurant_id %></dd>

      <dt>Cover photo</dt>
      <dd><%= @cover_photo.cover_photo %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/cover_photos" class="btn btn-primary">
        Back
      </a>
      <a href="/cover_photos/<%= @cover_photo.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_cover_photo/<%= @cover_photo.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
