<div class="page-header">
  <h1>
    User photos
    <a href="/user_photos/new" class="btn btn-lg btn-success">New User photo</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Image</th>
        <th>Restaurant</th>
        <th>Actions</th>
      </tr>

      <% @user_photos.each do |user_photo| %>
      <tr>
        <td><%= user_photo.image %></td>
        <td><%= user_photo.restaurant_id %></td>
        <td>
          <a href="/user_photos/<%= user_photo.id %>" class="btn btn-primary">Show</a>
          <a href="/user_photos/<%= user_photo.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_user_photo/<%= user_photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
